<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Parqueadero.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D16A7C1223E0AD120059A613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D16A7C2823E0AD140059A613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D16A7C3323E0AD140059A613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
